# Ollama LLM Config
OLLAMA_HOST=127.0.0.1
OLLAMA_PORT=11434
MODEL_NAME=hf.co/adamwhite625/gemma-2-2b-text2sql-v3-spider-augmented
API_KEY=EMPTY

# MySQL — Tech Shop Database
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=tech_store_db
