@import "tailwindcss";

@theme {
  /* Định nghĩa mã màu chuẩn từ Laravel cũ */
  --color-primary: #d70018;
  --color-primary-hover: #b40014;
  --color-secondary: #ffd200;
  --color-blue-btn: #3b82f6;
  --color-background: #f8f9fa;
  --color-text-main: #333333;
  --color-text-muted: #666666;
  --color-border: #e0e0e0;
  --color-danger: #dc3545;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
  }
}

/* Các class dùng chung */
@utility container-custom {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@utility header-gradient {
  background: linear-gradient(rgb(228, 84, 100) -13%, rgb(215, 0, 24));
}
